# IDE / Editor Configurations
.idea/

# Python Virtual Environments
venv/

# Python Bytecode & Cache
__pycache__/
*.pyc

# Security, Encryption Keys & Environment Variables
secret.key
.env

# Local Data Storage / Persistence Layer
data.json

# Operating System Specific Files
.DS_Store